:root {
    --color-white-1: #FFFFFF;
    --color-white-2: #F9F9F9;
    --color-grey: #EEEFF1;
    --color-darkblue: #34547A;
    --color-black: #000000;
    --color-browngrey: #727272;

    --font-size: 16px;
    --font-size-2: 32px;
    --font-size-3: 48px;
    --font-size-sm: 13px;
    --font-size-md: 21px;

    --font-normal: 400;
    --font-medium: 500;
    --font-bold: 700;

    --letter-spacing: 0.1em;

    --line-height: 1.64;
    --line-height-sm: 1.4;
    --line-height-lg: 1.8;

    --letter-spacing-10: 0.1em;

    --container-primary: 1100px;
    --container-secondary: 540px;

    --gap: 20px;
    --gap-sm: calc(var(--gap) * 0.5);
    --gap-lg: calc(var(--gap) * 1.5);
    --gap-xl: calc(var(--gap) * 2);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

html {
    font-family: 'Roboto', sans-serif;
    line-height: var(--line-height);
}

/*top right bottom left*/
.main {
    width: 100%;
    max-width:1920px;
    height: 2464px;
    background-color: var(--color-white-2);
    margin-inline: auto;
}

/*---first-screen---*/
.first-screen {
    background-color: var(--color-grey);
    height: 700px;
    display: flex;
    justify-content: center;
}

.first-screen__container {
    width: var(--container-primary);
}

.first-screen__nav {
    width: 565px;
    height: 16px;
    padding-top: 79px;
}

.first-screen__ul {
    display: flex;
    justify-content: space-between;
}

.first-screen__li {
    display: inline;
    font-size: var(--font-size);
    font-weight: var(--font-normal);
    letter-spacing: var(--letter-spacing-10);
}

.first-screen__link {
    color: var(--color-black);
}

.first-screen__link--home {
    color: var(--color-darkblue);
}

.first-screen__h1 {
    color: var(--color-black);
    font-size: var(--font-size-3);
    font-weight: var(--font-medium);
    text-align: left;
    padding-top: calc(257px - 79px - 16px);
    margin: 0;
}

.first-screen__p {
    width: 540px;
    color: var(--color-browngrey);
    font-size: var(--font-size);
    font-weight: var(--font-normal);
    line-height: var(--line-height);
    text-align: left;
    padding-top: 60px;
}

.first-screen__button {
    width: 225px;
    height: 65px;
    background-color: var(--color-darkblue);
    color: var(--color-white-1);
    font-size: var(--font-size);
    font-weight: var(--font-normal);
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing-10);
    border: none;
    margin-top: calc(494px - 362px - 67px);
}

/*---about-me---*/
.about-me {
    height: 359px;
    background-color: var(--color-white-2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-me__container {
    width: var(--container-secondary);
    height: 147px;
}

.about-me__h2 {
    color: var(--color-black);
    font-size: var(--font-size-2);
    font-weight: var(--font-medium);
    text-align: center;
}

.about-me__p {
    color: var(--color-browngrey);
    font-size: var(--font-size);
    font-weight: var(--font-normal);
    line-height: var(--line-height);
    text-align: center;
    padding-top: 50px;
}

/*---numbers---*/
.numbers {
    height: 250px;
    background-color: var(--color-darkblue);
    display: flex;
    justify-content: center;
    align-items: center;
}

.numbers__container {
    width: var(--container-primary);
    height: 50px;
    color: var(--color-white-1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.numbers-item {
    width: 141px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.numbers-item__image {
    width: 70px;
    height: 50px;
}

.numbers-item__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.numbers-item__number {
    font-size: var(--font-size-md);
    font-weight: var(--font-medium);
}

.numbers-item__label {
    font-size: var(--font-size);
    font-weight: var(--font-normal);
    line-height: var(--line-height);
}

/*---video-box---*/
.video-box {
    height: 1004px;
    background-color: var(--color-white-2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.video-box__container {
    width: var(--container-secondary);
    height: 147px;
    margin-top: 100px;
}

.video-box__h2 {
    color: var(--color-black);
    font-size: var(--font-size-2);
    font-weight: var(--font-bold);
    text-align: center;
}

.video-box__p {
    color: var(--color-browngrey);
    font-size: var(--font-size);
    font-weight: var(--font-normal);
    line-height: var(--line-height);
    text-align: center;
    padding-top: 50px;
}

.video-box__video {
    margin-bottom: 100px;
}

/*---footer---*/
.footer {
    background-color: var(--color-darkblue);
    height: 151px;
    color: var(--color-white-1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__container {
    width: var(--container-primary);
    height: 55px;
}

.footer__h6 {
    font-size: var(--font-size-md);
    font-weight: var(--font-medium);
    text-align: left;
}

.footer__p {
    font-size: var(--font-size-sm);
    font-weight: var(--font-normal);
    line-height: var(--line-height);
    text-align: left;
    padding-top: 20px;
}